USE [master]
GO
/****** Object:  Database [Italika]    Script Date: 10/03/2021 20:04:27 ******/
CREATE DATABASE [Italika]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Italika', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Italika.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Italika_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Italika_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Italika].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Italika]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 10/03/2021 20:04:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Productos](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[SKU] [varchar](50) NOT NULL,
	[Fert] [varchar](50) NOT NULL,
	[Modelo] [varchar](50) NOT NULL,
	[Tipo] [varchar](50) NOT NULL,
	[NumeroSerie] [varchar](50) NOT NULL,
	[Fecha] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
